@media only screen and (min-width: 600px) {
  /*-----------FOOTER----------------------*/
  .footer {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    background-color: #141b30;
    height: 300px; }
    .footer-redesociales {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .footer-ubicacion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center; }
      .footer-ubicacion .txt-ubicacion {
        font-weight: normal;
        text-align: left;
        color: white; }
    .footer-derechos {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      .footer-derechos .txt-derechos1 {
        font-weight: normal;
        text-align: center;
        color: white; }
      .footer-derechos .txt-derechos2 {
        font-weight: lighter;
        text-align: center;
        color: white; } }

@media only screen and (max-width: 600px) {
  /*FOOTER MOBILE*/
  .footer {
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: #141b30;
    height: 200px;
    width: 100%;
    height: 600px; }
    .footer .footer-ubicacion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 200px; }
    .footer .txt-ubicacion {
      font-size: 20px;
      font-weight: normal;
      text-align: center;
      color: white; }
    .footer .footer-derechos {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 300px;
      grid-area: "copyright"; }
    .footer .txt-derechos1 {
      font-weight: normal;
      font-size: 20px;
      text-align: center;
      color: white; }
    .footer .txt-derechos2 {
      font-weight: lighter;
      text-align: center;
      font-size: 20px;
      color: white; } }

/*..............MOBILE...............*/
@media only screen and (max-width: 600px) {
  /*.............   INDEX  .......................*/
  #valores__section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background-image: url("../img/banner_estudiojuridico.jpg"); }
  .valores__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    flex-direction: column;
    height: 400px;
    width: 350px;
    padding: 1px 1px 1px 1px; }
    .valores__cards .valores__img {
      width: 60px; }
    .valores__cards .valores__titulo {
      font-family: "Merriweather", serif;
      font-weight: bold;
      text-align: center;
      font-size: 30px;
      color: #d0b386; }
    .valores__cards .valores__txt {
      font-weight: lighter;
      text-align: center;
      font-size: 10px;
      color: white;
      line-height: 30px;
      font-weight: bold;
      padding: 0px 4px 0px 4px; }
    .valores__cards .valores__experiencia:hover {
      transform: scale(1.2, 1.2); }
  /*-------------SECTION INDEX---------------------*/
  .virtudes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: linear-gradient(360deg, #141b30 0%, #0c3f4a 79%, #036565 100%);
    height: 1800px; }
    .virtudes__cards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #141b30;
      height: 400px;
      border-radius: 10px;
      margin: 10%;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }
    .virtudes__texto {
      font-weight: normal;
      text-align: center;
      font-size: 15px;
      color: white;
      line-height: 20px;
      padding: 10px; }
    .virtudes__img {
      height: 150px;
      padding: 1px; }
  /*-----------------------------SOBRE NOSOTROS MOBILE------------------------------*/
  .nosotros {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 800px; }
    .nosotros--section {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 80%; }
  .titulo-quienes {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-top: #036565 solid 3px;
    color: #036565;
    line-height: 50px; }
  .txt-quienes {
    font-size: 14px;
    text-align: center;
    color: white;
    line-height: 40px; }
  .abogados {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #036565;
    height: 1600px;
    width: 100%; }
    .abogados--titulo {
      font-size: 40px;
      color: #141b30;
      font-weight: bold; }
  /*---------------------SERVICIOS -MOBILE PHONE-----------------*/
  .areas {
    height: 250px;
    width: 100%; }
    .areas--titulo {
      font-size: 30px;
      border-top: white solid 3px;
      line-height: 50px; }
  .cards {
    height: 2000px;
    flex-direction: column;
    align-content: flex-end;
    background-image: url("../img/banner_areas-sm.png"); }
    .cards--servicios {
      flex-direction: column;
      margin: 5%;
      align-content: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      height: 1500px;
      width: 90%; }
  .blog-section {
    height: 250px;
    width: 100%; }
  .titulo-blog {
    font-size: 30px;
    border-top: #141b30 solid 3px;
    line-height: 50px; }
  #blog {
    height: 2000px;
    justify-content: center;
    align-content: center; }
  .novedadesmobile, #divorcio, #testamento, #inmobiliaria {
    height: 600px;
    width: 400px; }
  .titulo-noticias {
    font-size: 25px;
    margin-top: 5px; }
  .txt-noticias {
    font-size: 12px;
    margin-top: 5px; }
  /*--------------------UBICACION MOBILE PHONE------------*/
  .ubicacion {
    height: 2000px;
    align-content: center;
    justify-content: space-around; }
  .ubicacion--section {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-top: #141b30 solid 3px;
    height: 300px;
    width: 100%; }
    .ubicacion--section .ubicacion--titulo {
      font-size: 30px;
      font-weight: bold;
      border-top: white solid 3px;
      line-height: 50px; }
  .frase {
    height: 300px;
    width: 60%; }
    .frase--comillas {
      height: 40px; }
    .frase--txt {
      font-family: 'Cormorant Garamond', serif;
      font-size: 25px;
      color: #64ccc9;
      font-weight: bolder;
      text-align: center; }
    .frase--titulo {
      font-family: 'Cormorant Garamond', serif;
      font-size: 25px;
      font-weight: normal;
      text-align: center;
      color: #64ccc9;
      margin-top: 5px; }
  .mapa {
    width: 350px;
    height: 350px;
    padding: 10%; }
  /*------------------------------------CONTACTO MOBILE PHONE----------------------------*/
  .contacto {
    flex-direction: column;
    height: 1500px;
    width: 100%; }
    .contacto--section {
      height: 400px;
      justify-content: center;
      align-content: center; }
  .form {
    height: 800px;
    justify-content: space-evenly; }
    .form-nombre {
      width: 80%; }
    .form-correo {
      justify-content: center;
      align-items: center;
      width: 80%; } }

/*---------------    DESKTOP    -----------------------*/
@media only screen and (min-width: 600px) {
  #body {
    display: flex;
    justify-content: space-around;
    font-family: "Raleway", sans-serif; }
  /**************                INDEX            *********************/
  #valores__section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
    height: 600px;
    background-color: #141b30;
    background-image: url("../img/banner_estudiojuridico.jpg"); }
    #valores__section .valorescards {
      display: flex;
      justify-content: center; }
    #valores__section .valores__cards {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 400px;
      width: 350px;
      padding: 50px 1px 1px 1px; }
      #valores__section .valores__cards .valores__img {
        height: 80px;
        width: 80px;
        margin: 5%; }
      #valores__section .valores__cards .valores__titulo {
        font-family: "Merriweather", serif;
        text-align: center;
        font-size: 35px;
        color: #d0b386;
        margin: 20px; }
      #valores__section .valores__cards .valores__txt {
        font-weight: lighter;
        text-align: center;
        font-size: 15px;
        color: white;
        line-height: 30px;
        font-weight: 400;
        padding: 0px 4px 0px 4px; }
      #valores__section .valores__cards .valores__experiencia:hover {
        transform: scale(1.2, 1.2); }
  .virtudes {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-evenly;
    align-content: center;
    justify-items: center;
    background-image: url("../img/banner_virtudes.png");
    height: 800px; }
    .virtudes__cards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #013748;
      padding: 1px 1px 1px 1px;
      height: 300px;
      border-radius: 10px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }
    .virtudes__texto {
      font: italic;
      text-align: center;
      font-size: 18px;
      color: white;
      line-height: 30px;
      padding: 10px; }
    .virtudes__img {
      height: 120px; }
  /*----------------------NOSOTROS-------------------------------------*/
  .nosotros {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .nosotros--section {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 400px;
      width: 80%; }
  .titulo-quienes {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-top: white solid 3px;
    color: white;
    line-height: 50px; }
  .txt-quienes {
    font-size: 14px;
    text-align: center;
    color: white;
    line-height: 40px; }
  .abogados {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #036565;
    height: 600px;
    width: 100%; }
    .abogados--titulo {
      font-size: 40px;
      color: #141b30;
      font-weight: bold; }
  /*------------------------------SERVICIOS------------------------------------*/
  .areas {
    height: 180px;
    width: 100%;
    background: linear-gradient(180deg, #013748 0%, #0c3f4a 47%, #141b30 100%); }
    .areas--titulo {
      text-align: center;
      font-size: 35px;
      font-weight: bold;
      border-top: white solid 3px;
      line-height: 50px; }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: space-between;
    align-items: flex-end;
    justify-items: center;
    height: 800px;
    background-image: url("../img/banner_areas.png"); }
    .cards--servicios {
      flex-direction: row;
      margin: 5%; }
  .blog-section {
    height: 180px;
    width: 100%; }
  .titulo-blog {
    font-size: 40px;
    line-height: 50px; }
  #blog {
    height: 700px; }
  .novedades, #divorcio, #testamento, #inmobiliaria {
    height: 600px;
    width: 400px; }
  .titulo-noticias {
    font-size: 20px;
    margin-top: 5px; }
  .txt-noticias {
    font-size: 15px;
    margin-top: 5px; }
  /*--------------------UBICACION DESKTOP------------*/
  .ubicacion {
    height: 100%;
    height: 2000px; }
  .ubicacion--section {
    height: 150px;
    width: 100%; }
    .ubicacion--section .ubicacion--titulo {
      font-size: 30px;
      font-weight: bold;
      border-top: white solid 3px;
      line-height: 50px; }
  .frase {
    height: 400px;
    width: 60%;
    background-image: url(../img/banner_frase.png); }
    .frase--comillas {
      height: 50px; }
    .frase--txt {
      font-size: 30px; }
    .frase--titulo {
      font-size: 30px;
      font-weight: 200;
      margin-top: 25px; }
  .mapa {
    width: 600px;
    height: 600px; }
  /*------------------------------------CONTACTO----------------------------*/
  .contacto {
    height: 800px;
    width: 100%; }
    .contacto--section {
      height: 800px;
      width: 600px;
      justify-content: space-evenly; }
  .form {
    justify-content: space-around;
    height: 600px;
    width: 800px; }
    .form-nombre {
      width: 100%; }
    .form-correo {
      width: 100%;
      justify-content: space-evenly;
      align-items: center; } }

body .navbar-brand {
  height: 100px; }

.navbar-nav {
  font-family: "Raleway", sans-serif;
  font-size: 18px; }

.navbar:hover {
  color: #013748; }

.navbar:hover {
  --bs-navbar-brand-hover-color: rgba(164, 30, 30, 0.9); }

* {
  margin: 0px;
  padding: 0px; }

/*----------------------INDEX-------------------------------*/
body {
  font-family: "Raleway", sans-serif; }

/*---------------------NOSOTROS-------------------------*/
.boton-contactame:hover {
  transform: scale(1.2, 1.2);
  background-color: #64ccc9;
  color: black; }

.nosotros {
  background: linear-gradient(360deg, #036565 0%, #0c3f4a 29%, #013748 100%); }

.nosotros--section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%; }

/*-------------------SERVICIOS--------------------*/
.areas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(180deg, #013748 0%, #141b30 100%); }
  .areas--titulo {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-weight: bold;
    color: white; }

.cards {
  display: flex; }
  .cards--servicios {
    display: flex; }

.blog-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #036565; }

.titulo-blog {
  text-align: center;
  font-weight: bold;
  color: white;
  border-top: white solid 3px; }

#blog {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #036565; }

.noticias, #divorcio, #testamento, #inmobiliaria {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  width: 400px;
  background-color: #13494e;
  padding: 2px 8px 2px 8px; }

.titulo-noticias {
  font-family: "Merriweather", serif;
  color: #e6deca;
  text-align: center; }

.txt-noticias {
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: center; }

/*--------------------UBICACION-----------------------------*/
.ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #036565; }

.ubicacion--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: linear-gradient(360deg, #036565 29%, #013748 100%); }

.ubicacion--titulo {
  text-align: center;
  font-weight: bolder;
  color: white;
  font-family: 'Raleway', sans-serif; }

.frase {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../img/banner_frase.png); }
  .frase--txt {
    font-family: "Merriweather", serif;
    color: #cee8e7;
    text-align: center;
    font-weight: bolder; }
  .frase--titulo {
    font-family: "Merriweather", serif;
    color: #cee8e7;
    text-align: center; }

.mapa {
  border: 0px; }

/*------------------------------------CONTACTO----------------------------*/
.contacto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-image: url("../img/fondoform.jpg"); }
  .contacto--section {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contacto--section .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 150px; }
      .contacto--section .info--img {
        height: 20px; }
      .contacto--section .info--titulo {
        font-size: 20px;
        font-weight: bold;
        color: white; }
      .contacto--section .info--txt {
        font-size: 20px;
        font-weight: normal;
        color: white; }

.titulo-form {
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  color: white; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form-nombre {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .form-nombre .txt-nombre {
      font-size: 15px;
      text-align: center;
      font-weight: normal;
      color: white; }
    .form-nombre .boton-nombre {
      background-color: white;
      height: 50px;
      width: 350px;
      text-align: center; }
  .form-correo {
    display: flex;
    flex-direction: column;
    height: 100px; }
    .form-correo .txt-correo {
      font-size: 15px;
      text-align: center;
      font-weight: normal;
      color: white; }
    .form-correo .boton-correo {
      background-color: white;
      height: 50px;
      width: 350px;
      text-align: center; }
  .form-telefono {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; }
    .form-telefono .txt-telefono {
      font-size: 15px;
      text-align: center;
      font-weight: normal;
      color: white; }
    .form-telefono .boton-telefono {
      background-color: white;
      height: 50px;
      width: 350px;
      text-align: center; }
  .form-mensaje {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px; }
    .form-mensaje .txt-mensaje {
      font-size: 15px;
      text-align: center;
      font-weight: normal;
      color: white; }
    .form-mensaje .espacio-mensaje {
      height: 80px;
      width: 80%; }
