@import "variables";

/*..............MOBILE...............*/

@media only screen and (max-width:600px){

/*.............   INDEX  .......................*/
    
    #valores__section{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-content: center;
        align-items: center;
        background-image: url("../img/banner_estudiojuridico.jpg");     
        
    }
    
    
    .valores__cards{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
        flex-direction: column;        
        height: 400px;
        width: 350px;        
        padding: 1px 1px 1px 1px ;
     
    .valores__img{
        
        width: 60px;
        
    }
    
    
    
    .valores__titulo{
        font-family: $font_secundaria;
        font-weight: bold;
        text-align: center;
        font-size: 30px;
        color:$color_seis;
    
    }
    
    
    .valores__txt{
        font-weight: lighter;
        text-align: center;
        font-size: 10px;
        color: $color_siete;
        line-height: 30px;
        font-weight: bold;
        padding: 0px 4px 0px 4px;
    }
    
    
    
    .valores__experiencia:hover{ 
        transform: scale(1.2,1.2);
    }  
    }
    
    
    
    
     
    /*-------------SECTION INDEX---------------------*/ 
    
    .virtudes{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-content: center;
        background: linear-gradient(360deg, rgba(20,27,48,1) 0%, rgba(12,63,74,1) 79%, rgba(3,101,101,1) 100%);
        height: 1800px;
        
        &__cards{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center ;
            background-color:$color_cinco;
            height: 400px;
            border-radius: 10px;
            margin: 10%;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

            
            
        
        }
        
        
        &__texto{
            font-weight:normal;
            text-align: center;
            font-size: 15px;
            color: $color_siete;
            line-height: 20px;
            padding: 10px;
        }
        
        &__img{
           height: 150px;
           padding: 1px;
           
        }
    }


/*-----------------------------SOBRE NOSOTROS MOBILE------------------------------*/
    .nosotros{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;

        &--section{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 80%;
         }
    }



    .titulo-quienes{
        font-family: $font_principal;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        border-top: $color_siete solid 3px;
        color: $color_siete;
        line-height: 50px;

    }

    .txt-quienes{

    font-size: 14px;
    text-align: center;
    color: $color_siete;
    line-height: 40px;
    }


    .abogados{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color:$color_dos;
        height: 1600px;
        width: 100%; 

        &--titulo{
            font-size: 40px;
            color: $color_cinco;
            font-weight: bold;
        }

    }




    /*---------------------SERVICIOS -MOBILE PHONE-----------------*/

    


    .areas{
        height: 250px;
        width: 100%;
        

        &--titulo{
        
            font-size: 30px;    
            border-top: $color_siete solid 3px;    
            line-height: 50px; 
        
        }
    }
    
    
    .cards{
        height: 2000px;
        flex-direction: column;
        align-content: flex-end;
        background-image: url("../img/banner_areas-sm.png");
        
        
        
        
        &--servicios{
        
        flex-direction: column;
        margin: 5%;
        align-content: center;        
        justify-content: center;
        align-items: center;
        justify-items: center;    
        height: 1500px;
        width: 90%;
        

        }
    }
    
    

    .blog-section{
        height: 250px;
        width: 100%;
        


    }
    .titulo-blog{    
        font-size: 30px;    
        border-top: $color_cinco solid 3px;    
        line-height: 50px; 
    }

    #blog{
            height: 2000px;
            justify-content: center;
            align-content: center;
        
        }
    
    .novedadesmobile{
        height: 600px;
        width: 400px;
    }
    
        #divorcio{
            @extend .novedadesmobile
        
            
        }
        
    #testamento{   
            @extend .novedadesmobile
            
            
        }
        
    #inmobiliaria{   
        @extend .novedadesmobile  
        
        }

   
    .titulo-noticias{
        font-size:25px;
        margin-top:5px;
   }
        
     .txt-noticias{
        font-size: 12px;
        margin-top: 5px;
    }



    /*--------------------UBICACION MOBILE PHONE------------*/

    .ubicacion{
        height: 2000px;    
        align-content: center;
        justify-content: space-around;
    }

    .ubicacion--section{
        
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        border-top: $color_cinco solid 3px;
        height: 300px;
        width: 100%;


        .ubicacion--titulo{
            font-size: 30px;
            font-weight: bold;
            border-top: $color_siete solid 3px;
            line-height: 50px;
        
        
        }   
        
    }  


    

    .frase{
        height: 300px;
        width: 60%;
        


        &--comillas{
            height: 40px;
        }
    
    
        &--txt{
            font-family: 'Cormorant Garamond', serif;
            font-size: 25px;
            color:#64ccc9 ;
            font-weight:bolder;
            text-align: center;
        }
    
        &--titulo{
            font-family: 'Cormorant Garamond', serif;
            font-size:25px ;
            font-weight: normal;
            text-align: center;
            color: #64ccc9 ;
            margin-top: 5px;
            
        }
    }
    
    .mapa{
        width: 350px;
        height: 350px;
        padding: 10%;
        
     }

/*------------------------------------CONTACTO MOBILE PHONE----------------------------*/ 

    .contacto{
        flex-direction: column;
        height: 1500px;
        width: 100%;
        
        
        &--section{
            height: 400px;    
            justify-content: center;
            align-content: center;
            


        
        }
    
   
    }
   
    .form{
        height: 800px;        
        justify-content: space-evenly;
        
        &-nombre{
            width:80%;
           
           }

           
        &-correo{
            justify-content: center;
            align-items: center;
            width: 80%;
      
        }
        
    }
    
    
    }
    
    
    
     





   

