$color_uno:#013748;
$color_dos:#036565;
$color_tres: #cee8e7;
$color_cuatro: #e6deca;
$color_cinco:#141b30;
$color_seis:#d0b386;
$color_siete:white;
$font_principal:'Raleway', sans-serif;
$font_secundaria:'Merriweather', serif;
$navbar-light-active-color:$color_uno;

