@import "footer";
@import "media.sm";
@import "media.lg";
@import "menu";
@import "variables";


    *{
        margin: 0px;
       padding: 0px;     
        
     }
/*----------------------INDEX-------------------------------*/
body{
    font-family: $font_principal;    }

  
/*---------------------NOSOTROS-------------------------*/

.boton-contactame:hover{
    transform: scale(1.2,1.2);
    background-color: #64ccc9;
    color: rgb(0, 0, 0);
}

.nosotros{
    background: linear-gradient(360deg, rgba(3,101,101,1) 0%, rgba(12,63,74,1) 29%, rgba(1,55,72,1) 100%);
    }

    .nosotros--section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

/*-------------------SERVICIOS--------------------*/

    .areas{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: linear-gradient(180deg, rgba(1,55,72,1) 0%, rgba(20,27,48,1) 100%);

        &--titulo{
            font-family: $font_principal;
            text-align: center;
            font-weight: bold;
            color: $color_siete; 
            
        }
        
    }

    .cards{
        display: flex;
        
        
    
        &--servicios{
            display: flex;
            
        }
        
    }



.blog-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: $color_dos;
    

}

.titulo-blog{
    text-align: center;
    font-weight: bold;
    color: $color_siete;
    border-top:$color_siete solid 3px; 
    
}



#blog{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: $color_dos;
    
 
}




.noticias{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
    align-items: center;
    height: 600px;
    width: 400px;
    background-color: #13494e;
    padding: 2px 8px 2px 8px ;

}

#divorcio{
    @extend .noticias
     
}

#testamento{
    @extend .noticias
    
}


#inmobiliaria{
    @extend .noticias
    
}

.titulo-noticias{
    font-family: $font_secundaria;
    color: $color_cuatro;
    text-align: center        
}

.txt-noticias{
    font-family: $font_principal;
    color: $color_siete;
    text-align: center;
}

/*--------------------UBICACION-----------------------------*/

.ubicacion
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $color_dos;    
      
}

.ubicacion--section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(360deg, rgba(3,101,101,1) 29%, rgba(1,55,72,1) 100%);
    
    
    
}

.ubicacion--titulo{    
    text-align: center;
    font-weight: bolder;
    color: $color_siete; 
    font-family: 'Raleway', sans-serif;
    
    
}


.frase{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../img/banner_frase.png); 
    
    &--txt{
        font-family: $font_secundaria;
        color: $color_tres ;        
        text-align: center;
        font-weight:bolder;
        
    }
    
   &--titulo{
        font-family: $font_secundaria;
        color: $color_tres ;
        text-align: center;       
        
        
    }
    
    
}

.mapa{
    border: 0px;   
    
}
/*------------------------------------CONTACTO----------------------------*/ 

.contacto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-image: url("../img/fondoform.jpg"); 



    &--section{
        display: flex;
        flex-direction: column;
        align-items: center;
       


            
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        



            &--img{
                height: 20px;
            }
        
            &--titulo{
                font-size: 20px;
                font-weight: bold;
                color: $color_siete;
                
            }
        
            &--txt{
                font-size: 20px;
                font-weight: normal;
                color: $color_siete;
                
            }
        }

    }
}


.titulo-form{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    color: $color_siete;
}


.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    


    &-nombre{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        


        .txt-nombre{
            font-size: 15px;
            text-align: center;
            font-weight: normal;
            color: $color_siete;
            
        }
    
        .boton-nombre{
            background-color: $color_siete;
            height: 50px;
            width: 350px;
            text-align: center;
    
        }
         
    }
    
    &-correo{
        display: flex;
        flex-direction: column;
        
        height: 100px;



        .txt-correo{
            font-size: 15px;
            text-align: center;
            font-weight: normal;
            color: $color_siete;
        }
    
        .boton-correo{
            background-color: $color_siete;
            height: 50px;
            width: 350px;
            text-align: center;
    
        }
    }

    


    &-telefono{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        


        .txt-telefono{
            font-size: 15px;
            text-align: center;
            font-weight: normal;
            color:$color_siete;
        }
    
        .boton-telefono{
            background-color: $color_siete;
            height: 50px;
            width: 350px;
            text-align: center;
    
        }
    }
 

    &-mensaje{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 60px;



        .txt-mensaje{
        font-size: 15px;
        text-align: center;
        font-weight: normal;
        color: white;
    
    }
    
    .espacio-mensaje{
        height: 80px;
        width:80%;
    }
    }
    
   
}

   



    

   
   

   

    
